* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.background {
	background-image: url(https://images.pexels.com/photos/3937174/pexels-photo-3937174.jpeg?auto=compress&cs=tinysrgb&dpr=4&w=1000);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	filter: blur(20px);
	z-index: -1;
}
.signup h1{
    display: flex;
    justify-content: center;
    color: white;
}
.signup__button{
    margin-right: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.signup__button a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(66, 66, 66);
    text-decoration: none;
    border: 2px solid rgb(245, 245, 245);
    padding: 6px;
    width: 190px;
    border-radius: 8px;
    background-color: rgb(253, 253, 253);
    transition: .2s;
}

.first, .second{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first i {
    position: absolute;
    left: 83px;
    color: blue;
}
.second i{
    position: absolute;
    left: 7px;
    color: blue;
}
.first a{
    margin-left: 80px;
}
.second a{
    margin-right: 80px;
}
.signup__button a:hover{
    box-shadow: 0.6px 0.3px 15px 0px rgba(236, 236, 236, 0.795);
    color: slateblue;

}
#or{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.name{
    margin-bottom: 20px;
    margin-top: 10px;
}
.name input{
    padding: 20px;
    width: 300px;
    height: 30px;
    outline: none;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 8px;
   
}
#button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 35px;
    background-color: rgb(103, 85, 216);
    color: white;
    border-radius: 8px;
    border: none;
    opacity: .8;
    cursor: pointer;
}
#button:hover{
    opacity: 1;
}
p{
    color: white;
}

